        <!-- AMAZING SLIDER -->
        <section class="mx-4 lg:container mt-20">
            <div class="w-full h-80 rounded-xl bg-blue-500 dark:bg-blue-700 p-4 relative">
                <!-- AmazingSlider products Slider -->
                <div class="swiper AmazingSlider w-full rounded-xl">
                    <div class="swiper-wrapper">
                        <!-- item -->
                        <div class="swiper-slide amazing-card">
                            <img class="w-28 h-28" src="{% static './images/slider/Amazings.svg' %}" alt="">
                            <!-- TIMER -->
                            <div class="flex items-center gap-x-2">
                                <span class="timer-box" id="seconds">00</span>
                                <p class="text-white">:</p>
                                <span class="timer-box" id="minutes">00</span>
                                <p class="text-white">:</p>
                                <span class="timer-box" id="hours">03</span>
                            </div>

                            <a href="shop.html" class="flex items-center gap-x-.5 text-gray-100 cursor-pointer">
                                <p>مشاهده همه</p>
                                <svg class="size-4 rotate-90">
                                    <use href="#chevron"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="swiper-slide small-card group">
                            <!-- product header -->
                            <div class="w-full flex items-center justify-between">
                                <span class="flex items-center gap-x-0.5 text-blue-400">
                                    <svg class="size-4 mb-1">
                                        <use href="#rocket"></use>
                                    </svg>
                                    <p class="text-xs">ارسال امروز</p>
                                </span>
                                <span class="text-gray-400 flex items-center justify-end text-sm gap-x-0.5">
                                    <p> 5.0 </p>
                                    <svg class="size-4 mb-1">
                                        <use href="#star"></use>
                                    </svg>
                                </span>
                            </div>
                            <!-- product img -->
                            <a href="product-details.html">
                                <img class="small-card_img" src="{% static './images/products/3.png' %}" alt="">
                            </a>
                            <!--  product footer -->
                            <div class="space-y-2">
                                <a href="product-details.html" class="small-card_link">
                                    لپ تاپ 15.6 اینچی ایسوس مدل Vivobook15 X515MA-BR001-Celeron N4020-8GB DDR4
                                </a>
                                <!-- Rate and Price -->
                                <div class="product-card_price-wrapper">
                                    <!-- Price -->
                                    <div class="small-card_price justify-between">
                                        <span class="pt-1">70%</span>
                                        <h4 class="flex items-center gap-x-1 text-lg">130,000,000 <p
                                                class="text-xs font-DanaMedium">تومان</p>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide small-card group">
                            <!-- product header -->
                            <div class="w-full flex items-center justify-between">
                                <span class="flex items-center gap-x-0.5 text-blue-400">
                                    <svg class="size-4 mb-1">
                                        <use href="#rocket"></use>
                                    </svg>
                                    <p class="text-xs">ارسال امروز</p>
                                </span>
                                <span class="text-gray-400 flex items-center justify-end text-sm gap-x-0.5">
                                    <p> 5.0 </p>
                                    <svg class="size-4 mb-1">
                                        <use href="#star"></use>
                                    </svg>
                                </span>
                            </div>
                            <!-- product img -->
                            <a href="product-details.html">
                                <img class="small-card_img" src="{% static './images/products/5.webp' %}" alt="">
                            </a>
                            <!--  product footer -->
                            <div class="space-y-2">
                                <a href="product-details.html" class="small-card_link">
                                    لپ تاپ 15.6 اینچی ایسوس مدل Vivobook15 X515MA-BR001-Celeron N4020-8GB DDR4
                                </a>
                                <!-- Rate and Price -->
                                <div class="product-card_price-wrapper">
                                    <!-- Price -->
                                    <div class="small-card_price justify-between">
                                        <span class="pt-1">70%</span>
                                        <h4 class="flex items-center gap-x-1 text-lg">130,000,000 <p
                                                class="text-xs font-DanaMedium">تومان</p>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide small-card group">
                            <!-- product header -->
                            <span class="w-full text-gray-400 flex items-center justify-end text-sm gap-x-0.5">
                                <p> 5.0 </p>
                                <svg class="size-4 mb-1">
                                    <use href="#star"></use>
                                </svg>
                            </span>
                            <!-- product img -->
                            <a href="product-details.html">
                                <img class="small-card_img" src="{% static './images/products/1.png' %}" alt="">
                            </a>
                            <!--  product footer -->
                            <div class="space-y-2">
                                <a href="product-details.html" class="small-card_link">
                                    لپ تاپ 15.6 اینچی ایسوس مدل Vivobook15 X515MA-BR001-Celeron N4020-8GB DDR4
                                </a>
                                <!-- Rate and Price -->
                                <div class="product-card_price-wrapper">
                                    <!-- Price -->
                                    <div class="small-card_price justify-between">
                                        <span class="pt-1">70%</span>
                                        <h4 class="flex items-center gap-x-1 text-lg">130,000,000 <p
                                                class="text-xs font-DanaMedium">تومان</p>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide small-card group">
                            <!-- product header -->
                            <span class="w-full text-gray-400 flex items-center justify-end text-sm gap-x-0.5">
                                <p> 5.0 </p>
                                <svg class="size-4 mb-1">
                                    <use href="#star"></use>
                                </svg>
                            </span>
                            <!-- product img -->
                            <a href="product-details.html">
                                <img class="small-card_img" src="{% static './images/products/7.webp' %}" alt="">
                            </a>
                            <!--  product footer -->
                            <div class="space-y-2">
                                <a href="product-details.html" class="small-card_link">
                                    لپ تاپ 15.6 اینچی ایسوس مدل Vivobook15 X515MA-BR001-Celeron N4020-8GB DDR4
                                </a>
                                <!-- Rate and Price -->
                                <div class="product-card_price-wrapper">
                                    <!-- Price -->
                                    <div class="small-card_price justify-between">
                                        <span class="pt-1">70%</span>
                                        <h4 class="flex items-center gap-x-1 text-lg">130,000,000 <p
                                                class="text-xs font-DanaMedium">تومان</p>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide small-card group">
                            <!-- product header -->
                            <span class="w-full text-gray-400 flex items-center justify-end text-sm gap-x-0.5">
                                <p> 5.0 </p>
                                <svg class="size-4 mb-1">
                                    <use href="#star"></use>
                                </svg>
                            </span>
                            <!-- product img -->
                            <a href="product-details.html">
                                <img class="small-card_img" src="{% static './images/products/3.png' %}" alt="">
                            </a>
                            <!--  product footer -->
                            <div class="space-y-2">
                                <a href="product-details.html" class="small-card_link">
                                    لپ تاپ 15.6 اینچی ایسوس مدل Vivobook15 X515MA-BR001-Celeron N4020-8GB DDR4
                                </a>
                                <!-- Rate and Price -->
                                <div class="product-card_price-wrapper">
                                    <!-- Price -->
                                    <div class="small-card_price justify-between">
                                        <span class="pt-1">70%</span>
                                        <h4 class="flex items-center gap-x-1 text-lg">130,000,000 <p
                                                class="text-xs font-DanaMedium">تومان</p>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide small-card group">
                            <!-- product header -->
                            <span class="w-full text-gray-400 flex items-center justify-end text-sm gap-x-0.5">
                                <p> 5.0 </p>
                                <svg class="size-4 mb-1">
                                    <use href="#star"></use>
                                </svg>
                            </span>
                            <!-- product img -->
                            <a href="product-details.html">
                                <img class="small-card_img" src="{% static './images/products/3.png' %}" alt="">
                            </a>
                            <!--  product footer -->
                            <div class="space-y-2">
                                <a href="product-details.html" class="small-card_link">
                                    لپ تاپ 15.6 اینچی ایسوس مدل Vivobook15 X515MA-BR001-Celeron N4020-8GB DDR4
                                </a>
                                <!-- Rate and Price -->
                                <div class="product-card_price-wrapper">
                                    <!-- Price -->
                                    <div class="small-card_price justify-between">
                                        <span class="pt-1">70%</span>
                                        <h4 class="flex items-center gap-x-1 text-lg">130,000,000 <p
                                                class="text-xs font-DanaMedium">تومان</p>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="shop.html" class="swiper-slide amazing-card_last ">
                            <svg class="size-10 ">
                                <use href="#arrow-left-circle"></use>
                            </svg>
                            <h2>مشاهده همه</h2>
                        </a>
                    </div>
                </div>
                <button
                    class="slider-navigate_btn absolute right-1 top-36 border dark:border-gray-700 border-gray-200 AmazingSlider-prev-slide z-10">
                    <svg class="size-6 -rotate-90">
                        <use href="#chevron" />
                    </svg>
                </button>
                <button
                    class="slider-navigate_btn absolute left-1 top-36 border dark:border-gray-700 border-gray-200 AmazingSlider-next-slide z-10">
                    <svg class="size-6 rotate-90">
                        <use href="#chevron" />
                    </svg>
                </button>
            </div>
            </div>
        </section>



                <!-- ARTICLE -->
        <section class="mx-4 lg:container mt-10 lg:mt-20">
            <!-- SECTION TITLE -->
            <div
                class="flex flex-col gap-y-4 xs:flex-row items-center justify-between w-full text-center xs:text-start">
                <div class="flex items-center gap-x-2 sm:gap-x-4">
                    <span class="size-12 hidden xs:flex rounded-lg bg-white shadow-lg dark:bg-gray-800 flex-center">
                        <svg class="size-7 text-gray-700 dark:text-gray-100">
                            <use href="#check-badge"></use>
                        </svg>
                    </span>
                    <div class="space-y-1 md:space-y-1">
                        <h3 class="text-xl md:text-2xl font-MorabbaMedium text-gray-800 dark:text-gray-50">محبوب‌ترین
                            <span class="text-blue-600 dark:text-blue-500">مقالات</span>
                        </h3>
                        <p class="text-sm text-gray-500 dark:text-gray-300">جدیدترین و بروزترین مقالات</p>
                    </div>
                </div>
                <div class="w-full xs:w-auto flex justify-between xs:justify-end  items-center gap-x-2">
                    <div class="flex items-center gap-x-2">
                        <button class="slider-navigate_btn articleSlider-prev-slide">
                            <svg class="size-6 -rotate-90">
                                <use href="#chevron" />
                            </svg>
                        </button>
                        <button class="slider-navigate_btn articleSlider-next-slide">
                            <svg class="size-6 rotate-90">
                                <use href="#chevron" />
                            </svg>
                        </button>
                    </div>
                    <a href="articles.html"
                        class="group shadow-xl text-sm md:text-base flex gap-x-1.5 items-center px-2 h-10 md:px-3 text-white bg-blue-600 rounded-xl">
                        <p>مشاهده همه</p>
                        <span
                            class="w-7 h-7 rounded-full bg-blue-500 flex-center md:group-hover:-translate-x-1 transition-transform duration-300">
                            <svg class="size-5">
                                <use href="#arrow" />
                            </svg>
                        </span>
                    </a>
                </div>
            </div>
            <div class="swiper articleSlider w-full mt-5">
                <div class="swiper-wrapper w-full py-5">
                    <!-- ITEM -->
                    <div class="swiper-slide group article-box">
                        <div class="relative overflow-hidden rounded-lg">
                            <img src="{% static './images/articles/1.webp' %}" class="article-box_img" alt="" />
                            <div
                                class="absolute opacity-0 left-0 top-0 bottom-0 right-0 bg-black/60 flex items-center justify-center group-hover:opacity-100 duration-300 transition-all rounded-bl-3xl rounded-tr-3xl">
                                <a href="./article-details.html"
                                    class="flex items-center px-2 py-1 gap-x-1 font-DanaMedium rounded-lg border-2 border-white text-white">
                                    <p>ادامه مطالب</p>
                                    <svg class="w-4 h-4 rotate-90">
                                        <use href="#chevron"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="flex flex-col gap-y-1 py-5 px-1">
                            <h2 class="font-DanaDemiBold">بهترین لپ تاپ های بازار ایران [دی ۱۴۰۳] </h2>
                        </div>
                        <span class="flex w-full h-1 py-1 border-t border-gray-100 dark:border-white/10"></span>
                        <div class="flex items-center justify-between text-sm px-1">
                            <span class="flex items-center gap-x-1 text-blue-500 dark:text-sky-400">
                                <svg class="w-4 h-4">
                                    <use href="#calendar"></use>
                                </svg>
                                <p class="mt-1">1403/5/1</p>
                            </span>
                            <span class="flex items-start gap-x-1 text-gray-300">
                                <p class="font-DanaDemiBold">120</p>
                                <svg class="w-4 h-4">
                                    <use href="#eye"></use>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <!-- ITEM -->
                    <div class="swiper-slide group article-box">
                        <div class="relative overflow-hidden rounded-lg">
                            <img src="{% static './images/articles/2.webp' %}" class="article-box_img" alt="" />
                            <div
                                class="absolute opacity-0 left-0 top-0 bottom-0 right-0 bg-black/60 flex items-center justify-center group-hover:opacity-100 duration-300 transition-all rounded-bl-3xl rounded-tr-3xl">
                                <a href="./article-details.html"
                                    class="flex items-center px-2 py-1 gap-x-1 font-DanaMedium rounded-lg border-2 border-white text-white">
                                    <p>ادامه مطالب</p>
                                    <svg class="w-4 h-4 rotate-90">
                                        <use href="#chevron"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="flex flex-col gap-y-1 py-5 px-1">
                            <h2 class="font-DanaDemiBold">بهترین گوشی های بازار ایران [دی ۱۴۰۳] </h2>
                        </div>
                        <span class="flex w-full h-1 py-1 border-t border-gray-100 dark:border-white/10"></span>
                        <div class="flex items-center justify-between text-sm px-1">
                            <span class="flex items-center gap-x-1 text-blue-500 dark:text-sky-400">
                                <svg class="w-4 h-4">
                                    <use href="#calendar"></use>
                                </svg>
                                <p class="mt-1">1403/5/1</p>
                            </span>
                            <span class="flex items-start gap-x-1 text-gray-300">
                                <p class="font-DanaDemiBold">120</p>
                                <svg class="w-4 h-4">
                                    <use href="#eye"></use>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <!-- ITEM -->
                    <div class="swiper-slide group article-box">
                        <div class="relative overflow-hidden rounded-lg">
                            <img src="{% static './images/articles/3.webp' %}" class="article-box_img" alt="" />
                            <div
                                class="absolute opacity-0 left-0 top-0 bottom-0 right-0 bg-black/60 flex items-center justify-center group-hover:opacity-100 duration-300 transition-all rounded-bl-3xl rounded-tr-3xl">
                                <a href="./article-details.html"
                                    class="flex items-center px-2 py-1 gap-x-1 font-DanaMedium rounded-lg border-2 border-white text-white">
                                    <p>ادامه مطالب</p>
                                    <svg class="w-4 h-4 rotate-90">
                                        <use href="#chevron"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="flex flex-col gap-y-1 py-5 px-1">
                            <h2 class="font-DanaDemiBold">بهترین هدیه های دیجیتال [دی ۱۴۰۳] </h2>
                        </div>
                        <span class="flex w-full h-1 py-1 border-t border-gray-100 dark:border-white/10"></span>
                        <div class="flex items-center justify-between text-sm px-1">
                            <span class="flex items-center gap-x-1 text-blue-500 dark:text-sky-400">
                                <svg class="w-4 h-4">
                                    <use href="#calendar"></use>
                                </svg>
                                <p class="mt-1">1403/5/1</p>
                            </span>
                            <span class="flex items-start gap-x-1 text-gray-300">
                                <p class="font-DanaDemiBold">120</p>
                                <svg class="w-4 h-4">
                                    <use href="#eye"></use>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <!-- ITEM -->
                    <div class="swiper-slide group article-box">
                        <div class="relative overflow-hidden rounded-lg">
                            <img src="{% static './images/articles/4.webp' %}" class="article-box_img" alt="" />
                            <div
                                class="absolute opacity-0 left-0 top-0 bottom-0 right-0 bg-black/60 flex items-center justify-center group-hover:opacity-100 duration-300 transition-all rounded-bl-3xl rounded-tr-3xl">
                                <a href="./article-details.html"
                                    class="flex items-center px-2 py-1 gap-x-1 font-DanaMedium rounded-lg border-2 border-white text-white">
                                    <p>ادامه مطالب</p>
                                    <svg class="w-4 h-4 rotate-90">
                                        <use href="#chevron"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="flex flex-col gap-y-1 py-5 px-1">
                            <h2 class="font-DanaDemiBold">بهترین هارد های بازار ایران [دی ۱۴۰۳] </h2>
                        </div>
                        <span class="flex w-full h-1 py-1 border-t border-gray-100 dark:border-white/10"></span>
                        <div class="flex items-center justify-between text-sm px-1">
                            <span class="flex items-center gap-x-1 text-blue-500 dark:text-sky-400">
                                <svg class="w-4 h-4">
                                    <use href="#calendar"></use>
                                </svg>
                                <p class="mt-1">1403/5/1</p>
                            </span>
                            <span class="flex items-start gap-x-1 text-gray-300">
                                <p class="font-DanaDemiBold">120</p>
                                <svg class="w-4 h-4">
                                    <use href="#eye"></use>
                                </svg>
                            </span>
                        </div>
                    </div>
                    <!-- ITEM -->
                    <div class="swiper-slide group article-box">
                        <div class="relative overflow-hidden rounded-lg">
                            <img src="{% static './images/articles/1.webp' %}" class="article-box_img" alt="" />
                            <div
                                class="absolute opacity-0 left-0 top-0 bottom-0 right-0 bg-black/60 flex items-center justify-center group-hover:opacity-100 duration-300 transition-all rounded-bl-3xl rounded-tr-3xl">
                                <a href="./article-details.html"
                                    class="flex items-center px-2 py-1 gap-x-1 font-DanaMedium rounded-lg border-2 border-white text-white">
                                    <p>ادامه مطالب</p>
                                    <svg class="w-4 h-4 rotate-90">
                                        <use href="#chevron"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="flex flex-col gap-y-1 py-5 px-1">
                            <h2 class="font-DanaDemiBold">بهترین هارد های بازار ایران [دی ۱۴۰۳] </h2>
                        </div>
                        <span class="flex w-full h-1 py-1 border-t border-gray-100 dark:border-white/10"></span>
                        <div class="flex items-center justify-between text-sm px-1">
                            <span class="flex items-center gap-x-1 text-blue-500 dark:text-sky-400">
                                <svg class="w-4 h-4">
                                    <use href="#calendar"></use>
                                </svg>
                                <p class="mt-1">1403/5/1</p>
                            </span>
                            <span class="flex items-start gap-x-1 text-gray-300">
                                <p class="font-DanaDemiBold">120</p>
                                <svg class="w-4 h-4">
                                    <use href="#eye"></use>
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>