<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>کراپلود | تغییر رمز عبور</title>
    <link rel="stylesheet" href="{% static './styles/app.css' %}">
    <link rel="stylesheet" href="{% static './swiper/swiper.css' %}">
    <!-- ==========================  DARK MODE SCRIPT ============================= -->
    <script type="text/javascript">
        if (
            localStorage.theme === "dark" ||
            (!("theme" in localStorage) &&
                window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
            document.documentElement.classList.add("dark");
        } else {
            document.documentElement.classList.remove("dark");
        }
    </script>
</head>

<body>

    <!-- ALL ICONS -->
    <svg class="hidden">
        <symbol id="moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd"
                d="M9.528 1.718a.75.75 0 0 1 .162.819A8.97 8.97 0 0 0 9 6a9 9 0 0 0 9 9 8.97 8.97 0 0 0 3.463-.69.75.75 0 0 1 .981.98 10.503 10.503 0 0 1-9.694 6.46c-5.799 0-10.5-4.7-10.5-10.5 0-4.368 2.667-8.112 6.46-9.694a.75.75 0 0 1 .818.162Z"
                clip-rule="evenodd" />
        </symbol>
        <symbol id="sun" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path
                d="M12 2.25a.75.75 0 0 1 .75.75v2.25a.75.75 0 0 1-1.5 0V3a.75.75 0 0 1 .75-.75ZM7.5 12a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM18.894 6.166a.75.75 0 0 0-1.06-1.06l-1.591 1.59a.75.75 0 1 0 1.06 1.061l1.591-1.59ZM21.75 12a.75.75 0 0 1-.75.75h-2.25a.75.75 0 0 1 0-1.5H21a.75.75 0 0 1 .75.75ZM17.834 18.894a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 1 0-1.061 1.06l1.59 1.591ZM12 18a.75.75 0 0 1 .75.75V21a.75.75 0 0 1-1.5 0v-2.25A.75.75 0 0 1 12 18ZM7.758 17.303a.75.75 0 0 0-1.061-1.06l-1.591 1.59a.75.75 0 0 0 1.06 1.061l1.591-1.59ZM6 12a.75.75 0 0 1-.75.75H3a.75.75 0 0 1 0-1.5h2.25A.75.75 0 0 1 6 12ZM6.697 7.757a.75.75 0 0 0 1.06-1.06l-1.59-1.591a.75.75 0 0 0-1.061 1.06l1.59 1.591Z" />
        </symbol>
        <symbol id="eye" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
            <path fill-rule="evenodd"
                d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 0 1 0-1.113ZM17.25 12a5.25 5.25 0 1 1-10.5 0 5.25 5.25 0 0 1 10.5 0Z"
                clip-rule="evenodd" />
        </symbol>
        <symbol id="eye-slash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
            class="size-6">
            <path
                d="M3.53 2.47a.75.75 0 0 0-1.06 1.06l18 18a.75.75 0 1 0 1.06-1.06l-18-18ZM22.676 12.553a11.249 11.249 0 0 1-2.631 4.31l-3.099-3.099a5.25 5.25 0 0 0-6.71-6.71L7.759 4.577a11.217 11.217 0 0 1 4.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113Z" />
            <path
                d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0 1 15.75 12ZM12.53 15.713l-4.243-4.244a3.75 3.75 0 0 0 4.244 4.243Z" />
            <path
                d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 0 0-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 0 1 6.75 12Z" />
        </symbol>
        <symbol id="chevron" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
        </symbol>
    </svg>

    <section class="relative flex items-center justify-center min-h-screen w-full">
        <!-- background -->
        <div class="pointer-events-none absolute inset-0 flex w-screen items-center justify-center overflow-hidden 
  [mask-image:radial-gradient(circle_at_center,rgba(255,255,255,1)_0%,rgba(255,255,255,0)_85%)]">

            <svg
                class="absolute left-0 top-0 h-full w-full stroke-black/10 stroke-[2] 
    [mask-image:radial-gradient(circle_at_center,rgba(255,255,255,1)_20%,rgba(255,255,255,0)_95%)] dark:stroke-white/10">
                <rect width="100%" height="100%" stroke-width="0" fill="url(#grid-pattern)"></rect>
                <defs>
                    <pattern id="grid-pattern" viewBox="0 0 64 64" width="60" height="60" patternUnits="userSpaceOnUse">
                        <path d="M64 0H0V64" fill="none"></path>
                    </pattern>
                </defs>
            </svg>
        </div>

        <div
            class="relative w-[27rem] mx-5 flex flex-col justify-center pt-12 pb-8 px-4 md:px-8 bg-white dark:bg-gray-800 shadow-md rounded-xl">
            <div class="flex items-center justify-center">
                <button class="toggle-theme absolute left-2 top-2 flex-center p-1.5 rounded-full text-gray-300">
                    <svg class="inline-block dark:hidden size-5">
                        <use href="#moon" />
                    </svg>
                    <svg class="hidden dark:inline size-5">
                        <use href="#sun" />
                    </svg>
                </button>
                <a href="index.html" class="flex flex-col text-center">
                    <span class="font-MorabbaMedium text-4xl flex items-center">
                        <span class="text-blue-500">کراپلود</span> بات
                    </span>
                </a>
            </div>

            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <p class="mb-2 text-gray-800 dark:text-gray-100 font-DanaMedium text-lg">
                    تغییر رمز عبور
                </p>

                <form class="space-y-5">
                    <div>
                        <label for="passwordInput" class="block text-sm/6 font-medium text-gray-500 dark:text-gray-300">
                            رمز عبور باید حداقل ۸ حرفی باشد
                        </label>

                        <div data-toggle="password"
                            class="relative mt-3 flex items-center justify-between w-full dark:bg-gray-900 bg-slate-100 rounded-md transition-all outline-none focus-within:bg-white focus-within:border-indigo-400 focus-within:ring-2 focus-within:ring-indigo-100 dark:focus-within:ring-blue-400">
                            <input id="passwordInput"  type="password"
                                class="p-3 w-full sm:text-sm/6 text-base appearance-none text-gray-800 dark:text-gray-100">
                                <button type="button" class="absolute left-3 top-3 toggle-password">
                                    <svg class="size-5 text-gray-500">
                                        <use href="#eye"></use>
                                    </svg>
                            </button>
                        </div>

                        
                        <ul class="w-full mt-6 flex items-center justify-center gap-x-2">
                            <li id="bar1" class="w-1/3 bg-gray-300 rounded h-1"></li>
                            <li id="bar2" class="w-1/3 bg-gray-300 rounded h-1"></li>
                            <li id="bar3" class="w-1/3 bg-gray-300 rounded h-1"></li>
                        </ul>

                        
                        <ul class="mt-6 space-y-1.5 text-sm text-gray-400 pr-4">
                            <li id="lengthCheck">حداقل ۸ حرف</li>
                            <li id="numberCheck">شامل عدد</li>
                            <li id="uppercaseCheck">شامل یک حرف بزرگ</li>
                        </ul>

                        <div data-toggle="password"
                            class="relative mt-6 flex items-center w-full bg-slate-100 rounded-md transition-all outline-none focus-within:bg-white focus-within:border-indigo-400 focus-within:ring-2 focus-within:ring-indigo-100 dark:bg-gray-900 dark:focus-within:ring-blue-400">
                            <input type="password" id="confirmPassword" placeholder="تکرار رمز عبور*"
                                class="p-3 w-full sm:text-sm/6 text-base appearance-none text-gray-800 dark:text-gray-100">
                            <button type="button" class="absolute left-3 top-3 toggle-password">
                                <svg class="size-5 text-gray-400">
                                    <use href="#eye"></use>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <div class="mt-6">
                        <a href="verify-password.html" class="submit-btn">تغییر رمز</a>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script src="{% static './scripts/app.js' %}"></script>
</body>


</html>